.my-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 20px; 
}



.full-width {
  width: 100%;
  box-sizing: border-box;
}
label{
  position: relative;
  display: block;
  font-weight: 500;
  margin: auto;
  margin-bottom: 10px;
}

.input-group{
  position: relative;
  margin-top: 30px;
}

/* TextField{
  padding-top: 10px;
} */
.error{
  width: fit-content;
  color: red;
  font-weight: 500;
  margin-left: 10px;
  display: block;
  margin-top: 4px;
  
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 723px) {
.Subbtn{
  position: relative;
  bottom: 10px; /* Adjust for smaller screens */
  right: 10px; /* Adjust for smaller screens */
  margin-left: 480px;
}
}